.currenttemperature {
    color: white;
    font-family: Georgia;
    text-align: right;
    position: relative;
}

#thermometer {
    text-decoration: none;
    color: #26a3b9;
}

#thermometer:hover {
    color: #c29b19;
    transition: 0.3s;
}

.temp-text {
    display: inline;
}

.temp-text h3 {
    display: inline;
}